@use "../../Object/Utility" as *;


/* ===============================================
#  ヘッダーが上から出現
=============================================== */
.js-fixed {
  --_translate: 0 -100%;
  --_duration: .5s;

  position: fixed;
  top: 0;
  z-index: 1000;
  visibility: hidden;
  translate: var(--_translate);
  transition: var(--_duration);

  &.js-show {
    --_translate: 0;
  
    visibility: visible;
  }
}

/* ===============================================
# フェードイン、フェードアウトスライダー
=============================================== */
@keyframes fadeSlider {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    z-index: 0;
  }
}

/* ===============================================
# フェードのSP設定
=============================================== */
.js-fadeIn-sp,
.js-fadeUp-sp,
.js-fadeDown-sp,
.js-fadeLeft-sp,
.js-fadeRight-sp {
  @include mq("md") {
    opacity: 0;
  }

  &.js-show {
    animation: none;
    @include mq("md") {
      animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
      animation-delay: 0s;
    }
  }
}

/* ===============================================
# フェードアップ
=============================================== */
.js-fadeUp,
.js-fadeUp0ms,
.js-fadeUp300ms,
.js-fadeUp600ms,
.js-fadeUp900ms,
.js-fadeUp-sp,
.js-fadeUp-sp0ms,
.js-fadeUp-sp300ms,
.js-fadeUp-sp600ms,
.js-fadeUp-sp900ms {
  opacity: 0;
  &.js-show {
    animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeUp300ms {
  &.js-show {
    animation-delay: 0.5s, 0.5s; // ここはそれぞれの遅延に応じて変更
    
    @include mq("md") {
      animation-delay: 0s;
    }
  }
}

.js-fadeUp600ms {
  &.js-show {
    animation-delay: 1s, 1s; // ここはそれぞれの遅延に応じて変更

    @include mq("md") {
      animation-delay: 0s;
    }
  }
}

.js-fadeUp900ms {
  &.js-show {
    animation-delay: 1.5s, 1.5s; // ここはそれぞれの遅延に応じて変更

    @include mq("md") {
      animation-delay: 0s;
    }
  }
}

.js-fadeUp-sp300ms {
  @include mq("md") {
    &.js-show {
      animation-delay: 0.5s, 0.5s; // ここはそれぞれの遅延に応じて変更
    }
  }
}
.js-fadeUp-sp600ms {
  @include mq("md") {
    &.js-show {
      animation-delay: 1s, 1s; // ここはそれぞれの遅延に応じて変更
    }
  }
}
.js-fadeUp-sp300ms {
  @include mq("md") {
    &.js-show {
      animation-delay: 1.5s, 1.5s; // ここはそれぞれの遅延に応じて変更
    }
  }
}

/* ===============================================
# フェードのアニメーション定義
=============================================== */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}