@use "../../Object/Utility" as *;


/* ===============================================
#  ヘッダーが上から出現
=============================================== */
.js-fixed {
  --_translate: 0 -100%;
  --_duration: .5s;

  position: fixed;
  top: 0;
  z-index: 1000;
  visibility: hidden;
  translate: var(--_translate);
  transition: var(--_duration);

  &.js-show {
    --_translate: 0;
  
    visibility: visible;
  }
}

/* ===============================================
# ループアニメーション
=============================================== */
// ループ画像
.loopSlider__item {
  display: none;
  inline-size: 640px;
}

// ループテキスト
.loop {
  display: flex;
  overflow: hidden;
}

.loop__left1 {
  flex-shrink: 0;
  animation: loop 80s -40s linear infinite;
  padding-inline-start: 0.5em;

  span {
    padding-inline-start: 0.5em;
  }
}

.loop__left2 {
  flex-shrink: 0;
  animation: loop2 80s linear infinite;
  padding-inline-start: 0.5em;

  span {
    padding-inline-start: 0.5em;
  }
}

.loop__right1 {
  flex-shrink: 0;
  animation: loop 170s -85s linear infinite;
  animation-direction: reverse;
  padding-inline-start: 0.5em;

  span {
    padding-inline-start: 0.5em;
  }
}

.loop__right2 {
  flex-shrink: 0;
  animation: loop2 170s linear infinite;
  animation-direction: reverse;
  padding-inline-start: 0.5em;

  span {
    padding-inline-start: 0.5em;
  }
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

/* ===============================================
# フワッと出現
=============================================== */
// フェードイン
.js-fadeIn {
  opacity: 0;
  &.js-show {
    animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeIn0ms {
  opacity: 0;
  
  &.js-show {
    animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeIn300ms {
  opacity: 0;
  
  &.js-show {
    animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.3s, 0.3s;
  }
}

.js-fadeIn600ms {
  opacity: 0;
  
  &.js-show {
    animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.6s, 0.6s;
  }
}

.js-fadeIn900ms {
  opacity: 0;
  
  &.js-show {
    animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.9s, 0.9s;
  }
}

.js-fadeIn--delay {
  opacity: 0;
  &.js-show--delay {
    animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

// 下から
.js-fadeUp {
  opacity: 0;
  &.js-show {
    animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeUp0ms {
  opacity: 0;
  &.js-show {
    animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeUp300ms {
  opacity: 0;

  &.js-show {
    animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.3s, 0.3s;
  }
}

.js-fadeUp600ms {
  opacity: 0;
  &.js-show {
    animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.6s, 0.6s;
  }
}

.js-fadeUp900ms {
  opacity: 0;

  &.js-show {
    animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.9s, 0.9s;
  }
}

.js-fadeUp--delay {
    opacity: 0;
  &.js-show--delay {
    animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

// 上から
.js-fadeDown {
  opacity: 0;

  &.js-show {
    animation: fadeDown 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeDown0ms {
  opacity: 0;

  &.js-show {
    animation: fadeDown 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeDown300ms {
  opacity: 0;

  &.js-show {
    animation: fadeDown 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.3s, 0.3s;
  }
}

.js-fadeDown600ms {
  opacity: 0;

  &.js-show {
    animation: fadeDown 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.6s, 0.6s;
  }
}

.js-fadeDown900ms {
  opacity: 0;

  &.js-show {
    animation: fadeDown 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.9s, 0.9s;
  }
}

// 左から
.js-fadeLeft {
  opacity: 0;
  &.js-show {
    animation: fadeLeft 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeLeft0ms {
  opacity: 0;
  &.js-show {
    animation: fadeLeft 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeLeft300ms {
  opacity: 0;
  &.js-show {
    animation: fadeLeft 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.3s, 0.3s;
  }
}

.js-fadeLeft600ms {
  opacity: 0;
  &.js-show {
    animation: fadeLeft 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.6s, 0.6s;
  }
}

.js-fadeLeft600ms {
  opacity: 0;
  &.js-show {
    animation: fadeLeft 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.9s, 0.9s;
  }
}

.js-fadeLeft--delay {
    opacity: 0;
  &.js-show--delay {
    animation: fadeLeft 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.9s, 0.9s;
  }
}

// 右から
.js-fadeRight {
  opacity: 0;
  &.js-show {
    animation: fadeRight 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeRight0ms {
  opacity: 0;
  &.js-show {
    animation-delay: 0ms;
    animation: fadeRight 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.js-fadeRight300ms {
  opacity: 0;
  &.js-show {
    animation-delay: 300ms;
    animation: fadeRight 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.3s, 0.3s;
  }
}

.js-fadeRight600ms {
  opacity: 0;
  &.js-show {
    animation: fadeRight .55s ease forwards;
    animation-delay: 600ms;
    animation: fadeRight 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.6s, 0.6s;
  }
}

.js-fadeRight900ms {
  opacity: 0;
  &.js-show {
    animation: fadeRight .55s ease forwards;
    animation-delay: 900ms;
    animation: fadeRight 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.9s, 0.9s;
  }
}

.js-fadeRight--delay {
    opacity: 0;
  &.js-show--delay {
    animation: fadeRight 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}