@use "../../Object/Utility" as *;


/* ===============================================
# 見出し
=============================================== */
.news-header {
  background: linear-gradient(to top right, #D8EBED, #ECF6E7);
}

.news-header__inner {
  padding-block-start: 158px;
  padding-block-end: 184px;
  block-size: 447px;

  @include mq("md") {
    padding-block-start: calc(87 * var(--medium-fluid-ratio));
    padding-block-end: calc(121 * var(--medium-fluid-ratio));
    block-size: calc(318 * var(--medium-fluid-ratio));
  }
}

.news-header__title {
  text-align: center;
  letter-spacing: calc(calc(30 / 1000) * 1em);
}

.news-header__sub-title {
  margin-block: var(--leading-trim);
  display: block;
  font-size: calc(16 * var(--rem-ratio));
  font-style: italic;
  line-height: calc(28 / 16);
  color: var(--color-blue);

  @include mq("md") {
    --_clamp-min: 12;
    --_clamp-max: 20;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }
}

.news-header__main-title {
  margin-block: var(--leading-trim);
  padding-block-start: 10px;
  display: block;
  font-size: calc(68 * var(--rem-ratio));
  font-family: var(--second-font);
  line-height: calc(119 / 68);

  @include mq("md") {
    --_clamp-min: 36;
    --_clamp-max: 72;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }
}

/* ===============================================
# news-content
=============================================== */
.news-content {
  margin-block-start: 153px;
  margin-block-end: 421px;

  @include mq("md") {
    margin-block-start: calc(101 * var(--medium-fluid-ratio));
    margin-block-end: calc(302 * var(--medium-fluid-ratio));
  }
}

.news-card {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 132px;

  @include mq("md") {
    row-gap: calc(88 * var(--medium-fluid-ratio));
  }
}

.news-card__date {
  font-family: var(--third-font);
  font-weight: var(--bold);
  font-size: calc(12 * var(--rem-ratio));
  letter-spacing: calc(calc(30 / 1000) * 1em);
  color: var(--color-blue);

  @include mq("md") {
    --_clamp-min: 12;
    --_clamp-max: 20;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }
}

.news-card__title {
  margin-block: var(--leading-trim);
  padding-block-start: 28px;
  font-family: var(--third-font);
  font-weight: var(--regular);
  font-size: calc(20 * var(--rem-ratio));
  letter-spacing: calc(calc(30 / 1000) * 1em);
  line-height: calc(35 / 20);

  @include mq("md") {
    --_clamp-min: 20;
    --_clamp-max: 34;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    padding-block-start: calc(18 * var(--medium-fluid-ratio));
    line-height: calc(46 / 34);
  }
}

.news-card__content {
  --_background: #E9F4F6;
  --_border-color: var(--color-blue);

  margin-block-start: 40px;
  padding-block-start: 110px;
  padding-block-end: 119px;
  padding-inline: 95px;
  background: var(--_background);
  border-block-start: 1px solid var(--_border-color);

  @include mq("md") {
    margin-block-start: calc(25 * var(--medium-fluid-ratio));
    padding-block: calc(34 * var(--medium-fluid-ratio));
    padding-inline: calc(53 * var(--medium-fluid-ratio));
  }

  p {
    font-family: var(--third-font);
    font-weight: var(--regular);
    font-size: calc(16 * var(--rem-ratio));
    letter-spacing: calc(calc(0 / 1000) * 1em);
    line-height: calc(40 / 16);

    @include mq("md") {
      --_clamp-min: 16;
      --_clamp-max: 26;
      --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
      
      font-size: var(--_clamp);
      line-height: calc(43.5 / 26);
    }
  }
}

/*----------------------------
■記事の詳細設定
------------------------------*/
.news-card__content {
  h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.1;
    padding: 5px 1em;
    margin-bottom: 0.5em;
    @media screen and (max-width: 640px) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.5;
    padding: 5px;
    margin: 15px 0;
    @media screen and (max-width: 640px) {
      font-size: 24px;
      margin: 30px 0;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding: 5px 5px;
    margin: 15px 0;
    @media screen and (max-width: 640px) {
      font-size: 24px;
      margin: 30px 0;
    }
  }

  p {
    // img を含む p タグに flex を適用
    &:has(img) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      img {
        max-width: 100%;
        height: auto;

        // 画像が1枚の場合
        &:only-child {
          flex: 0 0 100%; // フルサイズ表示
        }
      }

      // 画像が2枚の場合
      &:has(img:nth-child(2)):not(:has(img:nth-child(3))) {
        img {
          flex: 0 0 calc(50% - 10px); // 横幅50%
        }
      }

      // 画像が3枚の場合
      &:has(img:nth-child(3)):not(:has(img:nth-child(4))) {
        img {
          flex: 0 0 calc(33.333% - 13.33px); // 通常時 横幅33.33%
        }

        @media (max-width: 640px) {
          img {
            flex: 0 0 calc(50% - 10px); // 2枚ずつ配置
          }

          img:nth-child(3) {
            flex: 0 0 100%; // 3枚目は中央揃え
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      // 画像が4枚以上の場合
      &:has(img:nth-child(n+4)) {
        img {
          flex: 0 0 calc(25% - 15px); // 通常時 横幅25%
        }

        @media (max-width: 640px) {
          img {
            flex: 0 0 calc(50% - 10px); // 2枚ずつ配置
          }
        }
      }
    }
  }
}