@use "../../Object/Utility" as *;


/* ===============================================
# 見出し
=============================================== */
.news-header {
  background: linear-gradient(to top right, #D8EBED, #ECF6E7);
}

.news-header__inner {
  display: grid;
  place-items: center;
  block-size: 447px;

  @include mq("md") {
    block-size: calc(318 * var(--medium-fluid-ratio));
  }
}

.news-header__title {
  text-align: center;
  letter-spacing: calc(calc(30 / 1000) * 1em);
}

.news-header__sub-title {
  margin-block: var(--leading-trim);
  display: block;
  font-size: calc(16 * var(--rem-ratio));
  font-style: italic;
  line-height: calc(28 / 16);
  color: var(--color-blue);

  @include mq("md") {
    --_clamp-min: 12;
    --_clamp-max: 20;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }
}

.news-header__main-title {
  margin-block: var(--leading-trim);
  padding-block-start: 10px;
  display: block;
  font-size: calc(68 * var(--rem-ratio));
  font-family: var(--second-font);
  line-height: calc(119 / 68);

  @include mq("md") {
    --_clamp-min: 36;
    --_clamp-max: 72;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }
}

/* ===============================================
# news-content
=============================================== */
.news-content {
  margin-block-start: 153px;

  @include mq("md") {
    margin-block-start: calc(101 * var(--medium-fluid-ratio));
  }
}

.news-card {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 132px;

  @include mq("md") {
    row-gap: calc(88 * var(--medium-fluid-ratio));
  }
}

.news-card__date {
  font-family: var(--third-font);
  font-weight: var(--bold);
  font-size: calc(12 * var(--rem-ratio));
  letter-spacing: calc(calc(30 / 1000) * 1em);
  color: var(--color-blue);

  @include mq("md") {
    --_clamp-min: 12;
    --_clamp-max: 20;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }
}

.news-card__title {
  margin-block: var(--leading-trim);
  padding-block-start: 28px;
  font-family: var(--third-font);
  font-weight: var(--regular);
  font-size: calc(20 * var(--rem-ratio));
  letter-spacing: calc(calc(30 / 1000) * 1em);
  line-height: calc(35 / 20);

  @include mq("md") {
    --_clamp-min: 20;
    --_clamp-max: 34;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    padding-block-start: calc(18 * var(--medium-fluid-ratio));
    line-height: calc(46 / 34);
  }
}

.news-card__content {
  --_background: #E9F4F6;
  --_border-color: var(--color-blue);

  margin-block-start: 40px;
  padding-block-start: 110px;
  padding-block-end: 119px;
  padding-inline: 95px;
  background: var(--_background);
  border-block-start: 1px solid var(--_border-color);

  @include mq("md") {
    margin-block-start: calc(25 * var(--medium-fluid-ratio));
    padding-block: calc(34 * var(--medium-fluid-ratio));
    padding-inline: calc(53 * var(--medium-fluid-ratio));
  }

  p {
    font-family: var(--third-font);
    font-weight: var(--regular);
    font-size: calc(16 * var(--rem-ratio));
    letter-spacing: calc(calc(0 / 1000) * 1em);
    line-height: calc(40 / 16);

    @include mq("md") {
      --_clamp-min: 16;
      --_clamp-max: 26;
      --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
      
      font-size: var(--_clamp);
      line-height: calc(43.5 / 26);
    }
  }
}

/* ===============================================
# ページネーション
=============================================== */

.custom-pagination {
  margin-block-start: 93px;
  margin-block-end: 421px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include mq("md") {
    margin-block-start: calc(35 * var(--medium-fluid-ratio));
    margin-block-end: calc(302 * var(--medium-fluid-ratio));
  }
}

.custom-pagination__link {
  --_duration: 0.5s;
  font-family: var(--third-font);
  font-size: calc(16 * var(--rem-ratio));
  font-weight: var(--bold);
  letter-spacing: calc(calc(0 / 1000) * 1em);
  color: var(--color-blue);
  transition: opacity var(--_duration), outline-offset var(--_duration);
  
  &:hover {
    @media (any-hover: hover) {
      opacity: 0.6;
    }
  }
  
  &:focus-visible {
    opacity: 0.6;
  }

  @include mq("md") {
    --_clamp-min: 16;
    --_clamp-max: 26;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }
}

.custom-pagination__prev-link {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5em;
  align-items: center;
}

.custom-pagination__next-link {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.5em;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.custom-pagination__arrow {
  --_inline-size: 26;

  @include mq("md") {
    --_clamp-min: 26;
    --_clamp-max: 43;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    inline-size: var(--_clamp);
  }
}