@use "../../Object/Utility" as *;


/* ===============================================
# recruitDetail-content
=============================================== */
.recruitDetail-content {
  padding-block-start: 143px;
  padding-block-end: 363px;
  background: linear-gradient(to top right, #D8EBED, #ECF6E7);

  @include mq("md") {
    padding-block-start: calc(70 * var(--medium-fluid-ratio));
    padding-block-end: calc(246 * var(--medium-fluid-ratio));
  }
}

.recruitDetail-table {
  --_border-color: var(--color-blue);

  display: grid;
  grid-template-columns: 257px 1fr;
  background: var(--color-white);
  font-family: var(--third-font);
  font-weight: var(--regular);
  font-size: calc(16 * var(--rem-ratio));
  letter-spacing: calc(calc(50 / 1000) * 1em);
  line-height: calc(31 / 16);
  font-feature-settings: "palt";

  @include mq("md") {
    --_clamp-min: 16;
    --_clamp-max: 26;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    line-height: calc(35.8 / 26);
    grid-template-columns: repeat(2, auto);
  }
}

.recruitDetail-table__heading,
.recruitDetail-table__data {
  display: grid;
  justify-content: start;
  align-items: center;
  border-block-start: 1px solid var(--_border-color);
}

.recruitDetail-table__heading,
.recruitDetail-table__heading--tall {
  padding-inline-start: 33px;
  font-weight: var(--regular);
  text-align: left;

  @include mq("md") {
    padding-inline-start: calc(18 * var(--medium-fluid-ratio));
    padding-inline-end: calc(16 * var(--medium-fluid-ratio));
  }
}

.recruitDetail-table__heading {
  padding-block: 32px;

  @include mq("md") {
    padding-block: calc(30 * var(--medium-fluid-ratio));
  }
}

.recruitDetail-table__allowance {
  @include mq("md") {
    padding-block: calc(12.105 * var(--medium-fluid-ratio));
  }
}

.recruitDetail-table__data {
  --_padding: 24;

  padding-block: calc(var(--_padding) * 1px);
  padding-inline: 53px;
  position: relative;

  @include mq("md") {
    padding-block: 0;
    padding-inline-start: calc(26 * var(--medium-fluid-ratio));
    padding-inline-end: calc(19 * var(--medium-fluid-ratio));
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    inline-size: 1px;
    block-size: calc(100% - calc(var(--_padding) * 2.5px));
    background: var(--color-blue);

    @include mq("md") {
      block-size: calc(100% - calc(var(--_padding) * calc(2.5 * var(--medium-fluid-ratio))));
    }
  }
}

// 昇給・賞与の緑の線のサイズ
.recruitDetail-table__raise {
  padding-block: 16px;

  @include mq("md") {
    padding-block: calc(9 * var(--medium-fluid-ratio));
  }

  &::before {
    
    @include mq("md") {
      block-size: calc(100% - calc(var(--_padding) * calc(1.5 * var(--medium-fluid-ratio))));
    }
  }
}

.recruitDetail-table__data--tall {
  padding-block: 38px;

  @include mq("md") {
    padding-block: calc(26 * var(--medium-fluid-ratio));
    block-size: auto;
  }
}

.recruitDetail-table__heading--sp {
  @include mq("md") {
    block-size: auto;
  }
}

.recruitDetail-table__data--sp {
  @include mq("md") {
    padding-block: calc(26 * var(--medium-fluid-ratio));
    block-size: auto;
  }
}

/* ===============================================
# recruitDetail-footer
=============================================== */
.recruitDetail-footer {
  margin-block-start: 179px;

  @include mq("md") {
    margin-block-start: calc(128 * var(--medium-fluid-ratio));
  }
}

.recruitDetail-footer__text {
  margin-block: var(--leading-trim);
  inline-size: fit-content;
  margin-inline: auto;
  font-family: var(--third-font);
  font-weight: var(--regular);
  font-size: calc(18 * var(--rem-ratio));
  letter-spacing: calc(calc(50 / 1000) * 1em);
  line-height: calc(36.5 / 18);
  text-align: center;
  font-feature-settings: "palt";

  @include mq("md") {
    --_clamp-min: 18;
    --_clamp-max: 28;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    line-height: calc(42 / 28);
  }
}

.recruitDetail-footer__button-wrapper {
  margin-block-start: 136px;

  @include mq("md") {
    margin-block-start: calc(73 * var(--medium-fluid-ratio));
  }
}

.recruitDetail-footer__button {
  --_background: var(--color-blue);
  --_duration: 0.5s;

  padding-block-start: 51px;
  padding-block-end: 38px;
  display: grid;
  place-items: center;
  font-style: italic;
  font-size: calc(56 * var(--rem-ratio));
  letter-spacing: calc(calc(30 / 1000) * 1em);
  color: var(--color-white);
  transition: all var(--_duration);
  background-color: color-mix(in sRGB, var(--_background) var(--_opacity, 100%), transparent);

  @include mq("md") {
    --_clamp-min: 34;
    --_clamp-max: 68;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    padding-block-start: calc(44 * var(--medium-fluid-ratio));
    padding-block-end: calc(28 * var(--medium-fluid-ratio));
  }
  
  &:any-link:hover {
    @media (any-hover: hover) {
      --_opacity: 60%;
    }
  }
  
  &:focus-visible {
    --_opacity: 60%;
  }
}