@use "../Object/Utility" as *;

.header {
  inline-size: 100%;
  block-size: 120px;
  background: var(--color-white);

  @include mq("md") {
    block-size: calc(120 * var(--medium-fluid-ratio));
  }
}

.header__inner {
  display: grid;
  align-items: center;
  block-size: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  inline-size: 446px;

  @include mq("lg") {
    inline-size: calc(300 * var(--large-fluid-ratio));
  }

  @include mq("md") {
    inline-size: calc(420 * var(--medium-fluid-ratio));
  }

  img {
    aspect-ratio: 446 / 78;
    object-fit: cover;
  }
}

.header__logo-link {
  --_duration: 0.5s;
  
  transition: opacity var(--_duration), outline-offset var(--_duration);
  &:hover {
    @media (any-hover: hover) {
      opacity: 0.6;
    }
  }
  
  &:focus-visible {
    opacity: 0.6;
  }
}

.header__info {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 33px;
  align-items: center;

  @include mq("lg") {
    column-gap: 10px;
  }

  @include mq("md") {
    display: none;
  }
}

.header__menu {
  block-size: 100%;
}

.header__list {
  display: flex;
  align-items: center;
  column-gap: 24px;
  block-size: 100%;

  @include mq("lg") {
    column-gap: 10px;
  }
}

.header__item {
  display: grid;
  place-items: center;
  block-size: 100%;
  font-family: var(--third-font);
  font-weight: var(--regular);
  font-size: calc(14 * var(--rem-ratio));
  line-height: calc(24.5 / 14);
}

.header__link {
  --_duration: 0.5s;

  transition: opacity var(--_duration), outline-offset var(--_duration);
  &:hover {
    @media (any-hover: hover) {
      opacity: 0.6;
    }
  }
  
  &:focus-visible {
    opacity: 0.6;
  }
}

.header__contact {
  --_duration: 0.5s;
  
  inline-size: 50px;
  aspect-ratio: 1/1;
  transition: opacity var(--_duration), outline-offset var(--_duration);
  &:hover {
    @media (any-hover: hover) {
      opacity: 0.6;
    }
  }
  
  &:focus-visible {
    opacity: 0.6;
  }

  @include mq("lg") {
    inline-size: calc(30 * var(--medium-fluid-ratio));
  }
}

/*========= 途中からハンバーガーメニューに変化するのためのCSS ===============*/
.hamburger {
  display: none;

  @include mq("md") {
    --_inline-size: calc(62 * var(--medium-fluid-ratio));
    --_block-size: calc(62 * var(--medium-fluid-ratio));
    --_gap: calc(10 * var(--medium-fluid-ratio));
    --_duration: .5s;
  
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--_gap);
    inline-size: var(--_inline-size);
    block-size: var(--_block-size);
    cursor: pointer;
    z-index: 1001;
    background: var(--color-blue);
    transition: opacity var(--_duration), outline-offset var(--_duration);

    &:hover {
      @media (any-hover: hover) {
        opacity: 0.6;
      }
    }
    
    &:focus-visible {
      opacity: 0.6;
    }
  
    &.active {
      background: transparent;
    }
  }
}

.active.hamburger {
  --_padding: 30;

  position: fixed;
  right: calc(var(--_padding) * 1px);
}

.hamburger__line {
  --_inline-size: calc(26 * var(--medium-fluid-ratio));

  inline-size: var(--_inline-size);
  block-size: 1px;
  background-color: var(--color-black);
  transition: var(--_duration) ease-in-out;
  translate: var(--_translate, 0);
  background: var(--color-white);
}

.active .hamburger__line {
  --_inline-size: calc(45 * var(--medium-fluid-ratio));

  background: var(--color-blue);
}

.active .hamburger__line:nth-child(1) {
  --_translate: 0 calc(var(--_gap) * 1.2);
  transform: rotate(-45deg);
}
.active .hamburger__line:nth-child(2) {
  --_translate: 0 calc(var(--_gap) * 0.1);
  transform: rotate(45deg);
}
.active .hamburger__line:nth-child(3) {
  --_translate: 0 calc(var(--_gap) * -1);
  transform: rotate(45deg);
}

.active .header__menu {
  font-size: calc(0 * var(--rem-ratio));

  &::before {
    font-size: calc(16 * var(--rem-ratio));
    content: "CLOSE";
  }
}

.headerDrawer {
  --_duration: .6s;

  inline-size: 100%;
  block-size: 100%;
  block-size: 100svb;
  padding-block-start: calc(93 * var(--medium-fluid-ratio));
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #D8EBED, #ECF6E7);
  transition: var(--_duration);
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
}

// JSで操作する時のみ付ける
.headerDrawer.panelactive {
  opacity: 1;
  visibility: visible;
}

.js-ScrollAllowed {
  overflow: hidden
}

.headerDrawer__inner {
  block-size: 100%;
  overflow-y: scroll;
  padding-inline: 30px;
}

.headerDrawer__logo {
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 40;
}

.headerDrawer__list {
  border-block-end: 1px var(--color-blue2) solid;
}

.headerDrawer__item {
  --_clamp-min: 20;
  --_clamp-max: 30;
  --_min-layout-width: 375;
  --_max-layout-width: 640;
  --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
  font-size: var(--_clamp);
  font-weight: var(--regular);
  font-family: var(--third-font);
  letter-spacing: calc(calc(30 / 1000) * 1em);
  border-block-start: 1px var(--color-blue2) solid;
}

.headerDrawer__link {
  --_duration: 0.5s;
  
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-block: calc(28 * var(--medium-fluid-ratio));
  color: var(--color-black);
  line-height: normal;
  transition: opacity var(--_duration), outline-offset var(--_duration);
  
  &:hover {
    @media (any-hover: hover) {
      opacity: 0.6;
    }
  }
  
  &:focus-visible {
    opacity: 0.6;
  }
}

.headerDrawer__button-wrapper {
  margin-block-start: 41px;
}

.headerDrawer__contact-button {
  --_clamp-min: 18;
  --_clamp-max: 36;
  --_min-layout-width: 375;
  --_max-layout-width: 640;
  --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
  --_background: var(--color-blue);
  --_duration: 0.5s;

  font-size: var(--_clamp);
  padding-block: calc(33.5 * var(--medium-fluid-ratio));
  padding-inline: calc(20 * var(--medium-fluid-ratio));
  display: flex;
  align-items: start;
  justify-content: center;
  column-gap: 0.3em;
  color: var(--color-white);
  transition: var(--_duration);
  background-color: color-mix(in sRGB, var(--_background) var(--_opacity, 100%), transparent);
  
  &:any-link:hover {
    @media (any-hover: hover) {
      --_opacity: 60%;
    }
  }
  
  &:focus-visible {
    --_opacity: 60%;
  }

  &::before {
    margin-block-start: calc(1lh / 4);
    content: "";
    inline-size: calc(42 * var(--medium-fluid-ratio));
    block-size: calc(30 * var(--medium-fluid-ratio));
    background-image: url(../../assets/images/header/mail.png);
    @include supports(background-image, url(../../assets/images/header/mail.webp));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-shrink: 0;
  }
}

.headerDrawer__button-wrapper2 {
  margin-block-start: 28px;
}

.headerDrawer__close-button {
  --_clamp-min: 31;
  --_clamp-max: 62;
  --_min-layout-width: 375;
  --_max-layout-width: 640;
  --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
  --_background: transparent;
  --_duration: 0.5s;

  font-style: italic;
  font-size: var(--_clamp);
  padding-block: calc(16.5 * var(--medium-fluid-ratio));
  padding-inline: calc(20 * var(--medium-fluid-ratio));
  inline-size: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  column-gap: 0.3em;
  background: transparent;
  color: var(--color-blue);
  border: solid 2px var(--color-blue);
  transition: var(--_duration);
  background-color: color-mix(in sRGB, var(--_background), #000 var(--_darken, 0%));
  
  &:hover {
    @media (any-hover: hover) {
      --_darken: 10%;
    }
  }
  
  &:focus-visible {
    --_darken: 10%;
  }

  &::before {
    margin-block-start: calc(1lh / 4);
    content: "";
    inline-size: calc(42 * var(--medium-fluid-ratio));
    block-size: calc(30 * var(--medium-fluid-ratio));
    background-image: url(../../assets/images/header/close.png);
    @include supports(background-image, url(../../assets/images/header/close.webp));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-shrink: 0;
  }
}